<!DOCTYPE html>
<html>
<head>
  <title>Disclaimer - Brain Tumor Detector</title>
  <link rel="stylesheet" href="/static/style.css">

</head>
<body>

  <h1>Disclaimer</h1>

  <p>
    The information provided on Brain Tumor Detector is for general informational purposes only. It is not intended as a substitute for professional medical advice, diagnosis, or treatment. Always seek the advice of your physician or other qualified healthcare provider.
  </p>

  <p>
    Brain Tumor Detector does not provide medical advice or professional diagnosis. The accuracy, completeness, or usefulness of the information provided on the website cannot be guaranteed.
  </p>

  <p>
    We disclaim any liability for the decisions you make based on the information provided on Brain Tumor Detector. You assume full responsibility for your use of the information.
  </p>
  <footer>
    <div class="footer-content">
      <p>&copy; 2023 Brain Tumor Detector</p>
      <p>Contact us: demo@xyz.com</p>
      <p>
        <a href="privacy.html">Privacy Policy</a> |
        <a href="terms.html">Terms and Conditions</a> |
        <a href="disclaimer.html">Disclaimer</a>
      </p>
    </div>
  </footer>

</body>
</html>
