<!DOCTYPE html>
<html>
<head>
  <title>Privacy Policy - Brain Tumor Detector</title>
  <link rel="stylesheet" href="footer.css">

</head>
<body>

  <h1>Privacy Policy</h1>

  <p>
    At Brain Tumor Detector, we are committed to protecting your privacy. This Privacy Policy outlines the types of personal information we collect, how it is used, and your choices regarding your information.
  </p>

  <h2>Information Collection and Use</h2>
  <p>
    We may collect personal information such as name, email address, and diagnostic data when you use our brain tumor detection services. This information is used to provide and improve our services and may also be used for research purposes to enhance our algorithms.
  </p>

  <h2>Information Sharing</h2>
  <p>
    We do not sell, trade, or otherwise transfer your personal information to outside parties unless we provide you with advance notice. We may share anonymized data for research or statistical purposes.
  </p>

  <h2>Security</h2>
  <p>
    We implement security measures to maintain the safety of your personal information. However, no method of transmission over the internet or electronic storage is 100% secure.
  </p>

  <h2>Changes to This Privacy Policy</h2>
  <p>
    We reserve the right to modify this Privacy Policy at any time. Updates will be posted on this page, and you are encouraged to review this Privacy Policy periodically for any changes.
  </p>

  <h2>Contact Us</h2>
  <p>
    If you have any questions regarding this Privacy Policy, please contact us at privacy@braintumordetector.com.
  </p>
  <footer>
    <div class="footer-content">
      <p>&copy; 2023 Brain Tumor Detector</p>
      <p>Contact us: contact@braintumordetector.com</p>
      <p>
        <a href="privacy.html">Privacy Policy</a> |
        <a href="terms.html">Terms and Conditions</a> |
        <a href="disclaimer.html">Disclaimer</a>
      </p>
    </div>
  </footer>
</body>
</html>
