<!DOCTYPE html>
<html>
<head>
  <title>Terms and Conditions - Brain Tumor Detector</title>
  <link rel="stylesheet" href="/static/style.css">

</head>
<body>

  <h1>Terms and Conditions</h1>

  <h2>Use License</h2>
  <p>
    By accessing the Brain Tumor Detector website, you agree to comply with these terms and conditions and all applicable laws and regulations. You are granted permission to use the website for personal, non-commercial transitory viewing only.
  </p>

  <h2>Intellectual Property</h2>
  <p>
    The content, features, and functionality of Brain Tumor Detector are the property of Brain Tumor Detector and are protected by intellectual property laws. You may not reproduce, distribute, or create derivative works without explicit permission.
  </p>

  <h2>Limitation of Liability</h2>
  <p>
    Brain Tumor Detector shall not be liable for any indirect, incidental, special, consequential, or punitive damages arising out of your access, use, or inability to use the website or any content available on the website.
  </p>

  <h2>Governing Law</h2>
  <p>
    These terms and conditions are governed by and construed in accordance with the laws of the jurisdiction of [Your Jurisdiction] without regard to its conflict of law provisions.
  </p>

  <h2>Changes to These Terms and Conditions</h2>
  <p>
    Brain Tumor Detector reserves the right to modify or replace these terms and conditions at any time. Your continued use of the website after changes are posted constitutes acceptance of those changes.
  </p>
  <footer>
    <div class="footer-content">
      <p>&copy; 2023 Brain Tumor Detector</p>
      <p>Contact us: contact@braintumordetector.com</p>
      <p>
        <a href="privacy.html">Privacy Policy</a> |
        <a href="terms.html">Terms and Conditions</a> |
        <a href="disclaimer.html">Disclaimer</a>
      </p>
    </div>
  </footer>

</body>
</html>
